body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-color: #f5f5f5;
}

.hero {
    background-color: #222;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.project-card {
    background: #1e1e1e; 
    padding: 20px;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

.projects {
    padding: 40px;
}

.project-card h3 {
    margin-bottom: 10px;
    color: #ffffff;
}

.project-card p {
    font-size: 14px;
    color: #ccc;
    margin-bott0m: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.btn:hover {
    background: #43a047;
}

h2 {
    margin-top: 0;

}



