body {
    font-family: Arial, sans-serif;
    margin: 5px;
    padding: 5px;
    background-color: #f5f5f5;
}

.hero {
    background-color: #222;
    color: white;
    padding: 80px 20px;
    text-align: center;
}

header {
    background-color: #222;
    color: white;
    padding: 40px;
    text-align: center;
}

section {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

.project-card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1)
}

h2 {
    margin-top: 0;
}